<div class="uploadButton text-center">
  <p>
    Click on the Upload Image and then you will get modal pop up. there you can
    crop your image. and after save changes you will get all the details of your
    image
  </p>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Upload Image
  </button>
</div>

<div class="detailsImages" *ngIf="imageChangedEvent && isSave">
  <img [src]="croppedImage" alt="Card image cap" />
  <div class="details">
    <span class="detailsHeading">Image name:</span>
    <span class="detailValue"> {{ file | ellipsis }}</span>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modalHeader">
          Change Organization Image
          <span *ngIf="croppedImage" (click)="fileChangeEvent(false)"
            >Reload Image</span
          >
        </div>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="con" *ngIf="!imageChangedEvent">
          <input type="file" (change)="fileChangeEvent($event)" />
          <div class="uploadIcon">
            <img src="../assets/images/upload.svg" /><label>Upload Image</label
            ><span>Or Just drag and drop image here</span>
          </div>
        </div>
        <div *ngIf="imageChangedEvent">
          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="256"
            [cropperMinWidth]="128"
            [onlyScaleDown]="true"
            [roundCropper]="false"
            [alignImage]="'left'"
            [style.display]="showCropper ? null : 'none'"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>
        </div>
      </div>
      <div class="modal-footer">
        <div class="previewImg" *ngIf="!imageChangedEvent">
          Display Default logo
        </div>
        <div class="previewImg" *ngIf="imageChangedEvent">
          <img
            [src]="croppedImage"
            [style.border]="croppedImage ? '1px solid black' : 'none'"
          />
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="save()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
